<template>
  <div :class="classes">
    <div class="map__box" ref="mapBox"></div>

    <MapClose :lang="lang" />

    <MapDrawer v-if="active" :active="active" :lang="lang" />
  </div>
</template>

<script>
// import Mapbox from 'mapbox-gl';
import { throttle } from 'throttle-debounce';
import { loadScript, loadStyles } from '../_utils';
import { EventBus } from '../_event-bus.js';
import MapClose from './MapClose.vue';
import MapDrawer from './MapDrawer.vue';

export default {
  props: {
    accessToken: {
      type: String,
      default: 'pk.eyJ1IjoiYml0bWFuaWMiLCJhIjoiY2prMmwwbGpkMHI4ZTN0a2M2YXlqazVhaiJ9.od4KBgUWgP1hL_vAPUrymQ',
    },

    center: {
      type: Array,
      default: function() {
        return [
          126.513287,
          33.493014
        ];
      }
    },

    scriptUrl: {
      type: String,
      default: 'https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js',
    },

    styles: {
      type: String,
      default: 'mapbox://styles/bitmanic/cjk3cekd540lt2rpevv8p58j7?optimize=true',
    },

    stylesheetUrl: {
      type: String,
      default: 'https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css',
    },

    zoom: {
      type: Number,
      default: 11.9,
    }
  },

  components: {
    MapClose,
    MapDrawer,
  },

  data() {
    return {
      active: null,
      hoveredId: null,
      map: null,
      visible: false,
    }
  },

  computed: {
    classes() {
      return {
        'map': true,
        'map--active': this.active,
        'map--visible': this.visible,
      }
    },

    lang() {
      return document.documentElement.getAttribute('lang');
    }
  },

  methods: {
    addImageToMap(imageName, imagePath) {
      this.map.loadImage(imagePath, function(error, image) {
        if (error) throw error;

        this.map.addImage(imageName, image, { sdf: true });
      }.bind(this));
    },

    addInteractionToLayer(layerName) {
      this.map.on('mouseenter', layerName, () => {
        this.map.getCanvas().style.cursor = 'pointer';
      });

      this.map.on('mousemove', layerName, throttle(100, true, (event) => {
        this.setHoveredId(layerName, event);
      }));

      this.map.on('mouseleave', layerName, (event) => {
        this.setHoveredId(layerName, event);

        this.map.getCanvas().style.cursor = '';
      });

      this.map.on('click', layerName, (event) => {
        this.setActive(layerName, event);
      });
    },

    addLayerToMap(layerName, sourceUrl) {
      this.addSourceToMap(layerName, sourceUrl);

      this.map.addLayer({
        'id': layerName,
        'source': layerName,
        'type': 'symbol',
        'layout': {
          'icon-allow-overlap': true,
          'icon-ignore-placement': true,
          'icon-image': 'marker',
          'icon-size': [
            "interpolate",
            ["cubic-bezier", 0.42, 0, 0.58, 1], // ease-in-out
            ["zoom"], 10, 0.25, 20, 0.5 // quarter size at zoom level 10; half size at zoom level 20
          ],
          'text-field': ['to-string', ['get', `name_${ this.lang }`]],
          'text-font': ['DIN Offc Pro Bold', 'Arial Unicode MS Bold'],
          'text-letter-spacing': 0.05,
          'text-offset': [0, 2],
          'text-optional': true,
          // 'text-size': 10,
          'text-size': [
            "interpolate",
            ['linear'],
            ["zoom"], 10, 10, 20, 16 // quarter size at zoom level 10; half size at zoom level 20
          ],
          'text-transform': 'uppercase',
        },
        'paint': {
          'icon-color': ['case',
            ['boolean', ['feature-state', 'active'], false], '#f99500',
            ['boolean', ['feature-state', 'hovered'], false], '#000000',
            '#888888'
          ],
          'text-color': ['case',
            ['boolean', ['feature-state', 'active'], false], '#f99500',
            ['boolean', ['feature-state', 'hovered'], false], '#000000',
            '#444444'
          ],
          'text-halo-color': '#ffffff',
          'text-halo-width': 1,
        },
      });

      this.addInteractionToLayer(layerName);
    },

    addSourceToMap(sourceName, sourceUrl) {
      this.map.addSource(sourceName, {
        'type': 'geojson',
        'data': sourceUrl
      });
    },

    createMap() {
      this.visible = true;
      this.map = new mapboxgl.Map({
        center: this.center,
        container: this.$refs.mapBox,
        minZoom: 10,
        maxZoom: 17,
        style: this.styles,
        zoom: this.zoom,
      });

      this.map.on('load', () => {
        this.addImageToMap('marker', this.$root.marker);
        this.addLayerToMap(this.$root.sourceName, this.$root.source);

        EventBus.$emit('map-loaded', this.map);
      });
    },

    hide() {
      document.documentElement.classList.remove('map-visible');
      this.visible = false;
    },

    loadMapbox() {
      Promise.all([
        loadStyles(this.stylesheetUrl),
        loadScript(this.scriptUrl),
      ]).then(function() {
        mapboxgl.accessToken = this.accessToken;

        this.createMap();
        this.show();
      }.bind(this));
    },

    setActive(source, event) {
      if (!event.features || !event.features.length) return;

      if (this.active) {
        this.map.setFeatureState({ source: source, id: this.active.id }, { active: false });

        if (this.active.id === event.features[0].id) {
          this.active = null;

          EventBus.$emit('map-drawer-closed', this.map);
          return;
        }
      } else {
        EventBus.$emit('map-drawer-opened', this.map);
      }

      this.active = JSON.parse(JSON.stringify(event.features[0]));
      this.map.setFeatureState({ source: source, id: this.active.id }, { active: true });

      EventBus.$emit('map-feature-selected', { map: this.map, feature: this.active });
    },

    setHoveredId(source, event) {
      if (event.type === 'mousemove') {
        if (!event.features || !event.features.length) return;

        if (this.hoveredId) {
          this.map.setFeatureState({ source: source, id: this.hoveredId }, { hovered: false });
        }

        this.hoveredId = event.features[0].id;

        this.map.setFeatureState({ source: source, id: this.hoveredId }, { hovered: true });
      }

      if (event.type === 'mouseleave') {
        if (this.hoveredId) {
          this.map.setFeatureState({ source: source, id: this.hoveredId }, { hovered: false });
        }

        this.hoveredId = null;
      }
    },

    show() {
      document.documentElement.classList.add('map-visible');
      this.visible = true;
    },

    toggle() {
      if (!this.map) {
        this.loadMapbox();
        return;
      }

      if (this.visible) {
        this.hide();
      } else {
        this.show();
      }
    },
  },

  mounted() {
    EventBus.$once('map-loaded', map => {
      setTimeout(function() {
        map.resize();
      }, 10);
    });

    EventBus.$on('map-drawer-opened', map => {
      setTimeout(function() {
        map.resize();
      }, 10);
    });

    EventBus.$on('map-feature-selected', event => {
      setTimeout(function() {
        event.map.flyTo({ center: event.feature.geometry.coordinates });
      }, 50);
    });

    EventBus.$on('map-drawer-closed', map => {
      setTimeout(function() {
        map.resize();
      }, 10);
    });
  }
};
</script>
