<template>
  <button type="button" class="button button--inverted map__close" data-map-toggle>
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" class="icon">
      <title>Close</title>
      <path d="M49.293 43.636l27.224-27.224a4.5 4.5 0 0 1 6.363 6.364L55.657 50 82.88 77.224a4.5 4.5 0 0 1-6.363 6.364L49.293 56.364 22.069 83.588a4.5 4.5 0 0 1-6.364-6.364L42.93 50 15.705 22.776a4.5 4.5 0 0 1 6.364-6.364l27.224 27.224z"/>
    </svg>

    <span class="text">
      {{ label }}
    </span>
  </button>
</template>

<script>
export default {
  props: ['active', 'lang'],

  methods: {},

  computed: {
    label() {
      if (this.lang == 'en') return 'Close';

      return '닫다';
    },
  }
}
</script>
