<template>
  <div class="map__drawer">
    <div class="feature-tile">
      <div class="feature-tile__media">
        <img
          :alt="name"
          sizes="auto"
          :src="imageSrc"
          :srcset="imageSrcset"
          height="300"
          width="300"
        />
      </div>

      <div class="feature-tile__info">
        <h3 class="feature-tile__name name">{{ name }}</h3>

        <h4 class="feature-tile__address address">{{ address }}</h4>

        <div class="feature-tile__links">
          <a :href="instagramUrl" rel="noopener">
            <svg class="icon" viewBox="0 0 100 100">
              <use xlink:href="#icon-instagram"></use>
            </svg>

            <span class="text">{{ label('instagram') }}</span>
          </a>

          <a :href="mapUrl('daum')" rel="noopener">
            <svg class="icon" viewBox="0 0 100 100">
              <use xlink:href="#icon-daum"></use>
            </svg>

            <span class="text">{{ label('daummap') }}</span>
          </a>

          <a :href="mapUrl('naver')" rel="noopener">
            <svg class="icon" viewBox="0 0 100 100">
              <use xlink:href="#icon-naver"></use>
            </svg>

            <span class="text">{{ label('navermap') }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['active', 'lang'],

  methods: {
    label(term) {
      if (term === 'daummap') {
        if (this.lang === 'en') return 'Daum Map';

        return '다움 지도';
      }

      if (term === 'instagram') {
        if (this.lang === 'en') return 'Instagram';

        return '인스타그램';
      }

      if (term === 'navermap') {
        if (this.lang === 'en') return 'Naver Map';

        return '네이버 지도';
      }
    },

    mapUrl(mapService) {
      // Daum/Naver prefer Korean addresses, but Google prefers English ones
      let locale = 'ko'
      if (mapService === 'google') locale = 'en'

      // Get the encoded address in the appropriate locale
      const query = encodeURIComponent(this.active.properties[`address_${ locale }`]);

      const mapUrls = {
        'daum': `http://map.daum.net/?q=${ query }`,
        'google': `https://www.google.com/maps/search/?api=1&query=${ query }`,
        'naver': `https://map.naver.com?query=${ query }`,
      }

      return mapUrls[mapService];
    },
  },

  computed: {
    address() {
      return this.active.properties[`address_${ this.lang }`];
    },

    imageSrc() {
      if (! this.active) return '';

      return `${ this.active.properties.image }?fm=jpg&w=300&h=300&q=40`;
    },

    imageSrcset() {
      if (! this.active) return '';

      return `${ this.active.properties.image }?fm=jpg&w=1200&h=1200&q=40 1200w 1200h, ${ this.active.properties.image }?fm=jpg&w=600&h=600&q=40 600w 600h`;
    },

    instagramUrl() {
      return `https://www.instagram.com/${ this.instagram }`;
    },

    name() {
      return this.active.properties[`name_${ this.lang }`];
    },
  }
}
</script>
