<template>
  <li :class="classes">
    <button
      class="map-feature__button"
      type="button"
    >
      <span class="map-feature__button__thumb">
        <template v-if="feature.properties.image">
          <img :src="imageSrc" width="50" height="50" alt="" role="presentation" />
        </template>

        <template v-else>
          <img src="../assets/images/placeholder.svg" width="256" height="256" alt="" role="presentation" />
        </template>
      </span>

      <span class="map-feature__button__info">
        <span class="name">
          {{ feature.properties.name_en }}
        </span>

        <span class="address">
          {{ feature.properties.address_en }}
        </span>
      </span>

      <span
        v-if="feature.distanceFromUser"
        class="map-feature__button__distance"
      >
        {{ feature.distanceFromUser | formatDistance }}
      </span>
    </button>
  </li>
</template>

<script>
// import EventBus from '~/store/event-bus';

module.exports = {
  props: {
    feature: {
      type: Object,
    },
  },

  computed: {
    classes() {
      return {
        'map-features__item': true,
        'map-feature': true,
        'map-feature--selected': this.feature.active,
      }
    },

    imageSrc() {
      return `${ this.feature.properties.image }?fm=jpg&w=100&h=100&q=30`;
    },
  },

  methods: {
    // select() {
    //   EventBus.$emit('partner:select', this.feature.id)
    // },

    // Private methods

    // _formatDistance(distance) {
    //   return `${ Math.round( distance * 10 ) / 10 }km`
    // },

    // _getDistanceFromCoords(lat1, lon1, lat2, lon2) {
    //   // Function to calculate distance between two points (in kilometers)
    //   // See: https://stackoverflow.com/a/21623206/147589
    //
    //   var p = 0.017453292519943295;    // Math.PI / 180
    //   var c = Math.cos;
    //   var a = 0.5 - c((lat2 - lat1) * p)/2 +
    //           c(lat1 * p) * c(lat2 * p) *
    //           (1 - c((lon2 - lon1) * p))/2;
    //
    //   return 12742 * Math.asin(Math.sqrt(a)); // 2 * R; R = 6371 km
    // },
  },

  // filters: {
  //   formatDistance(value) {
  //     return `${ Math.round( value * 10 ) / 10 }km`
  //   }
  // },

  // mounted() {
  //   EventBus.$on('user-location:enabled', location => {
  //     this.$set(this.partner, 'distanceFromUser', this._getDistanceFromCoords(
  //       this.feature.coordinates.lat,
  //       this.feature.coordinates.lon,
  //       location.lat,
  //       location.lon
  //     ))
  //   })
  //
  //   EventBus.$on('user-location:disabled', location => {
  //     this.$set(this.partner, 'distanceFromUser', null)
  //   })
  // },
}
</script>
