<template>
  <ul class="map__info__features map-features">
    <MapFeatureListItem v-for="feature in features" :feature="feature"/>
  </ul>
</template>

<script>
import MapFeatureListItem from './MapFeatureListItem.vue';

export default {
  props: {
    features: {
      type: Array
    }
  },

  components: {
    MapFeatureListItem,
  },

  data() {
    return {}
  }
}
</script>
