<!DOCTYPE html>
<html lang="<%= t('.site_lang') %>" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <title><%= t('.site_name') %></title>
    <meta name="description" content="<%= t('.site_description') %>" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= url_for '/assets/meta/apple-touch-icon.png' %>" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%= url_for '/assets/meta/favicon-32x32.png' %>" />
    <link rel="icon" type="image/png" sizes="16x16" href="<%= url_for '/assets/meta/favicon-16x16.png' %>" />
    <link rel="manifest" href="<%= url_for '/assets/meta/manifest.webmanifest' %>" />
    <link rel="mask-icon" color="#f99500" href="<%= url_for '/assets/meta/safari-pinned-tab.svg' %>" />
    <link rel="shortcut icon" href="<%= url_for '/assets/meta/favicon.ico' %>" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="<%= t('.site_name') %>" />
    <meta name="application-name" content="<%= t('.site_name') %>" />
    <meta name="msapplication-TileColor" content="#f99500" />
    <meta name="msapplication-config" content="<%= url_for '/assets/meta/browserconfig.xml' %>" />
    <meta name="theme-color" content="#f99500" />

    <%= stylesheet_link_tag "site" %>
  </head>

  <body class="<%= current_page.data.page_classes %>">
    <% if current_page.data.icons %>
      <%= partial "/partials/icon_set", locals: { icons: current_page.data.icons } %>
    <% end %>

    <header class="header" role="banner">
      <div class="container">
        <% if current_page.path == 'index.html' %>
          <%= link_to t('.header_brand'),
            "/index.html",
            class: "header__item link link--active"
          %>
        <% else %>
          <% link_to "/index.html", class: "header__item header__item--home" do %>
            <%= image_tag "logo-simple.svg",
              class: "logo",
              alt: t('.header_home'),
              role: "presentation" %>

            <span class="text link">
              <%= t('.header_home') %>
            </span>
          <% end %>
        <% end %>

        <%= link_to t('.header_events'),
          "/cleanups.html",
          class: "header__item link #{ 'link--active' if current_page.path.end_with?('cleanups.html') }"
        %>

        <%= link_to t('.header_friends'),
          "/friends.html",
          class: "header__item link #{ 'link--active' if current_page.path.end_with?('friends.html') }"
        %>

        <% if t('.site_lang') === 'en' %>
          <% link_to "/#{ current_page.path }",
           class: "header__item header__item--locale link",
           locale: :ko do
          %>
            <%= inline_svg "lang.svg", class: "icon icon--large" %>

            <span class="text">한국어</span>
          <% end %>
        <% end %>

        <% if t('.site_lang') === 'ko' %>
          <% link_to "/#{ current_page.path.gsub('ko/', '') }",
           class: "header__item header__item--locale link",
           locale: :en do
          %>
            <%= inline_svg "lang.svg", class: "icon icon--large" %>

            <span class="text">English</span>
          <% end %>
        <% end %>
      </div>
    </header>

    <%= yield %>

    <footer class="footer" role="contentinfo">
      <div class="container footer__container">
        <h6 class="footer__brand">
          <%= t('.site_name') %>
        </h6>

        <ul class="footer__links">
          <li class="footer__links__item">
            <a class="link" href="<%= t('.contact_instagram') %>" rel="noopener" target="_blank">
              <%= t('.footer_instagram') %>
            </a>
          </li>

          <li class="footer__links__item">
            <a class="link" href="mailto:<%= t('.contact_email') %>">
              <%= t('.footer_email') %>
            </a>
          </li>

          <li class="footer__links__item">
            <a class="link" href="tel:<%= t('.contact_phone') %>">
              <%= t('.footer_phone') %>
            </a>
          </li>
        </ul>
      </div>
    </footer>

    <%= yield_content :scripts %>
  </body>
</html>
