* {
  box-sizing: border-box;
}

body {
  color: $base-text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  margin: 0;
  touch-action: manipulation;
}

img {
  height: auto;
  max-width: 100%;
}

hidden,
[aria-hidden] {
  display: none;
}
