@mixin text-style($style) {
  @if $style == h1 {
    font-size: $xxl-font-size;
    font-weight: $light-font-weight;
    line-height: $s-line-height;
    transition: font-size $short-transition-duration ease;

    @include viewport-l       { font-size: $xxl-font-size * 0.9; }
    @include viewport-m       { font-size: $xxl-font-size * 0.8; }
    @include viewport-s       { font-size: $xxl-font-size * 0.7; }
    @include viewport-xs-down { font-size: $xxl-font-size * 0.6; }
  }

  @if $style == h2 {
    font-size: $xl-font-size;
    font-weight: $normal-font-weight;
    line-height: $m-line-height;
    transition: font-size $short-transition-duration ease;

    @include viewport-l      { font-size: $xl-font-size * 0.9; }
    @include viewport-m      { font-size: $xl-font-size * 0.8; }
    @include viewport-s-down { font-size: $xl-font-size * 0.7; }
  }

  @if $style == h2-heavy {
    font-size: $xl-font-size;
    font-weight: $bold-font-weight;
    line-height: $m-line-height;
    text-transform: uppercase;
    transition: font-size $short-transition-duration ease;

    @include viewport-l      { font-size: $xl-font-size * 0.9; }
    @include viewport-m      { font-size: $xl-font-size * 0.8; }
    @include viewport-s-down { font-size: $xl-font-size * 0.7; }
  }

  @if $style == h3 {
    font-size: $l-font-size;
    font-weight: $normal-font-weight;
    line-height: $l-line-height;
    transition: font-size $short-transition-duration ease;

    @include viewport-l      { font-size: $l-font-size * 0.92.5; }
    @include viewport-m      { font-size: $l-font-size * 0.85; }
    @include viewport-s-down { font-size: $l-font-size * 0.77.5; }
  }

  @if $style == h5 {
    font-size: $m-font-size;
    font-weight: $bold-font-weight;
    line-height: $s-line-height;
    text-transform: uppercase;
  }

  @if $style == h6 {
    font-size: $s-font-size;
    font-weight: $bold-font-weight;
    letter-spacing: -0.025em;
    line-height: $s-line-height;
    text-transform: uppercase;
  }

  @if $style == button {
    font-family: inherit;
    font-size: $m-font-size;
    font-weight: $bold-font-weight;
    line-height: $s-line-height;
    text-transform: uppercase;
  }

  @if $style == body {
    font-size: $s-font-size;
    font-weight: $medium-font-weight;
    line-height: $m-line-height;
  }

  @if $style == body-large {
    color: $muted-text-color;
    font-size: $m-font-size;
    font-weight: $normal-font-weight;
    line-height: $m-line-height;
  }

  @if $style == body-small {
    color: $muted-text-color;
    font-size: $xs-font-size;
    font-weight: $medium-font-weight;
    line-height: $s-line-height;
  }

  @if $style == body-tiny {
    color: $muted-text-color;
    font-size: $xxs-font-size;
    font-weight: $medium-font-weight;
    letter-spacing: 0.05em;
    line-height: $s-line-height;
    text-transform: uppercase;
  }
}
