// Cap Margins
// -----------------------------------------------------------------------------
// This mixin removes the outer margins from the first and last children of the
// element that the mixin is applied to. For instance, consider the following
// example:
//
// ```
// <div>
//   <h1>The Headline</h1> <!-- Has 2em top/bottom margins -->
//   <h6>Publish Date</h6> <!-- Has 1em top/bottom margins -->
// </div>
// ```
//
// If we applied `cap-margins` to the div above, it would remove the top margin
// from the H1 tag and the bottom margin from the H6 tag.
//
// NOTE: This mixin assumes we're working with the vertical axis, but you can
// explicitly declare the axis in the mixin (e.g. `@include cap-margins(x);`).
@mixin util-cap-margins($axis: y) {
  & > :first-child {
    @if $axis == x {
      margin-left: 0;
    } @else if $axis == y {
      margin-top: 0;
    }
  }

  & > :last-child {
    @if $axis == x {
      margin-right: 0;
    } @else if $axis == y {
      margin-bottom: 0;
    }
  }
}

// Clearfix
@mixin util-clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin util-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// SR Only - hide elements visually but keep them accessible to screenreaders
@mixin util-sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
