// Colors
// -----------------------------------------------------------------------------

$color-black: #000;
$color-gray-dark: #444;
$color-gray-medium: #888;
$color-gray-light: #ccc;
$color-gray-xlight: #eee;
$color-off-white: #f5f5f5;
$color-white: #fff;
$color-ivory: #fffcf3;
$color-hallabong: #f99500;
$color-sky: #00adf3;
$color-sea: #0074bd;
$color-shore: #c2d9db;

$base-background-color: $color-white;
$alt-background-color: $color-off-white;
$alt2-background-color: darken($color-off-white, 5%);

$strong-text-color: $color-black;
$base-text-color: $color-black;
$muted-text-color: $color-gray-medium;
$very-muted-text-color: $color-gray-light;

$base-border-color: $color-gray-light;
$muted-border-color: mix($color-gray-light, $color-white);
$transparent-base-border-color: rgba($color-black, 0.2);

$strong-accent-color: darken($color-sky, 10%);
$base-accent-color: $color-sky;
$muted-accent-color: lighten($color-sky, 10%);

$strong-complementary-color: darken($color-hallabong, 10%);
$base-complementary-color: $color-hallabong;
$muted-complementary-color: lighten($color-hallabong, 10%);

// Typography
// -----------------------------------------------------------------------------

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$xxs-font-size: 0.75rem; // 12px
$xs-font-size: 0.875rem; // 14px
$s-font-size: 1rem;      // 16px
$m-font-size: 1.125rem;  // 18px
$l-font-size: 1.5rem;    // 24px
$xl-font-size: 2rem;     // 32px
$xxl-font-size: 3rem;    // 48px
$base-font-size: $s-font-size;

$light-font-weight: 100;
$normal-font-weight: 200;
$medium-font-weight: 400;
$bold-font-weight: 900;
$base-font-weight: $normal-font-weight;


$no-line-height: 1;
$s-line-height: 1.25;
$m-line-height: 1.5;
$l-line-height: 1.75;
$base-line-height: $m-line-height;

// Spacing
// -----------------------------------------------------------------------------

$space-basis: $base-font-size * $base-line-height;

$no-space: 0;                  // 0px
$xxs-space: $space-basis / 8;  // 3px
$xs-space: $space-basis / 4;   // 6px
$s-space: $space-basis / 2;    // 12px
$m-space: $space-basis;        // 24px
$l-space: $space-basis * 2;    // 48px
$xl-space: $space-basis * 4;   // 96px
$xxl-space: $space-basis * 8;  // 192px
$base-space: $m-space;

// Responsive
// -----------------------------------------------------------------------------

$breakpoint: 768px;

@mixin mobile {
  @media only screen and (max-width: $breakpoint - 1px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

// Transitions
// -----------------------------------------------------------------------------

$short-transition-duration: 100ms;
$base-transition-duration: 200ms;
$long-transition-duration: 300ms;
$xlong-transition-duration: 900ms;

$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);

// Components
// -----------------------------------------------------------------------------

$header-height: 4rem;
