$viewport-ranges: (
  xxs: 0 20rem,              // 0 320px
  xs: 20.0625rem 30rem,      // 321px 480px
  s: 30.0625rem 40rem,       // 481px 640px
  m: 40.0625rem 55rem,       // 641px 880px
  l: 55.0625rem 70rem,       // 881px 1120px
  xl: 70.0625rem 90rem,      // 1121px 1440px
  xxl: 90.0625rem Infinity,  // 1401px Infinity
);

// Functions - not intended for public use
// -----------------------------------------------------------------------------

// `viewport-range()`
// Return the viewport range for a given string-based Range Name
// Supported Range Names: xxs, xs, s, m, l, xl, xxl
// Example Output: `viewport-range(s)` => `30.0625rem 40rem`
@function viewport-range($range-name) {
  @if map-has-key($viewport-ranges, $range-name) {
    @return map-get($viewport-ranges, $range-name);
  }

  @error "Unknown `#{$range-name}` in $viewport-ranges.";
  @return null;
}

// `viewport-max()`
// Return the `max` value for a given Range
// Supported Range Names: xxs, xs, s, m, l, xl, xxl
// Example Output: `viewport-max(s)` => `40rem`
@function viewport-max($range-name) {
  $range: viewport-range($range-name);

  @if $range {
    @if length($range) == 2 {
      @return nth($range, 2);
    }

    @error "Viewport range `#{$range-name}` must contain 2 values (mix and max). It currently contains #{length($range)}.";
    @return null;
  }

  @error "Unknown viewport range `#{$range-name}`. Expected one of the following values: xs, s, m, l, xl, xxl.";
  @return null;
}

// `viewport-min()`
// Return the `min` value for a given Range
// Supported Range Names: xxs, xs, s, m, l, xl, xxl
// Example Output: `viewport-min(s)` => `30.0625rem`
@function viewport-min($range-name) {
  $range: viewport-range($range-name);

  @if $range {
    @if length($range) == 2 {
      @return nth($range, 1);
    }

    @error "Viewport range `#{$range-name}` must contain 2 values (mix and max). It currently contains #{length($range)}.";
    @return null;
  }

  @error "Unknown viewport range `#{$range-name}`. Expected one of the following values: xs, s, m, l, xl, xxl.";
  @return null;
}

// Mixins
// -----------------------------------------------------------------------------

@mixin viewport-xxs {
  @media only screen and (max-width: viewport-max(xxs)) {
    @content;
  }
}

@mixin viewport-xs-down {
  @media only screen and (max-width: viewport-max(xs)) {
    @content;
  }
}

@mixin viewport-xs {
  @media only screen and (min-width: viewport-min(xs)) and (max-width: viewport-max(xs)) {
    @content;
  }
}

@mixin viewport-xs-up {
  @media only screen and (min-width: viewport-min(xs)) {
    @content;
  }
}

@mixin viewport-s-down {
  @media only screen and (max-width: viewport-max(s)) {
    @content;
  }
}

@mixin viewport-s {
  @media only screen and (min-width: viewport-min(s)) and (max-width: viewport-max(s)) {
    @content;
  }
}

@mixin viewport-s-up {
  @media only screen and (min-width: viewport-min(s)) {
    @content;
  }
}

@mixin viewport-m-down {
  @media only screen and (max-width: viewport-max(m)) {
    @content;
  }
}

@mixin viewport-m {
  @media only screen and (min-width: viewport-min(m)) and (max-width: viewport-max(m)) {
    @content;
  }
}

@mixin viewport-m-up {
  @media only screen and (min-width: viewport-min(m)) {
    @content;
  }
}

@mixin viewport-l-down {
  @media only screen and (max-width: viewport-max(l)) {
    @content;
  }
}

@mixin viewport-l {
  @media only screen and (min-width: viewport-min(l)) and (max-width: viewport-max(l)) {
    @content;
  }
}

@mixin viewport-l-up {
  @media only screen and (min-width: viewport-min(l)) {
    @content;
  }
}

@mixin viewport-xl-down {
  @media only screen and (max-width: viewport-max(xl)) {
    @content;
  }
}

@mixin viewport-xl {
  @media only screen and (min-width: viewport-min(xl)) and (max-width: viewport-max(xl)) {
    @content;
  }
}

@mixin viewport-xl-up {
  @media only screen and (min-width: viewport-min(xl)) {
    @content;
  }
}

@mixin viewport-xxl {
  @media only screen and (min-width: viewport-min(xxl)) {
    @content;
  }
}
