<% content_tag :li, class: "feature-tiles__item feature-tile#{ ' feature-tiles__item--featured' if index && index % 15 === 0 }", tabindex: 0 do %>
  <div class="feature-tile__media">
    <img
      alt="<%= feature.properties["name_#{ t('.site_lang' ) }"] %>"
      class="lazyload"
      data-lowsrc="<%= feature.properties[:image] %>?fm=jpg&w=10&h=10&q=60"
      data-sizes="auto"
      data-srcset="<%= feature.properties[:image] %>?fm=jpg&w=1200&h=1200&q=40 1200w 1200h,
                   <%= feature.properties[:image] %>?fm=jpg&w=600&h=600&q=40 600w 600h"
      height="300"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mN89x8AAuEB74Y0o2cAAAAASUVORK5CYII="
      width="300"
    />

    <%#= image_tag "#{ feature.properties[:image] }?fm=jpg&w=600&h=600&q=50", alt: '', size: '300x300', data: { big_src: "#{ feature.properties[:image] }?fm=jpg&w=1200&h=1200&q=50" } %>
  </div>

  <div class="feature-tile__info">
    <h3 class="feature-tile__name name">
      <%= feature.properties["name_#{ t('.site_lang' ) }"] %>
    </h3>

    <h4 class="feature-tile__address address">
      <%= feature.properties["address_#{ t('.site_lang' ) }"] %>
    </h4>

    <div class="feature-tile__links">
      <% if feature.properties.try(:instagram) %>
        <% link_to "https://www.instagram.com/#{ feature.properties[:instagram] }", rel: "noopener" do %>
          <%= inline_svg_sprite "icon-instagram" %>

          <span class="text">
            <%= t('.friends_instagram') %>
          </span>
        <% end %>
      <% end %>

      <% query = CGI.escape(feature.properties[:address_ko]) %>

      <% link_to "http://map.daum.net/?q=#{ query }", rel: "noopener" do %>
        <%= inline_svg_sprite "icon-daum" %>

        <span class="text">
          <%= t('.friends_daummap') %>
        </span>
      <% end %>

      <% link_to "https://map.naver.com?query=#{ query }", rel: "noopener" do %>
        <%= inline_svg_sprite "icon-naver" %>

        <span class="text">
          <%= t('.friends_navermap') %>
        </span>
      <% end %>
    </div>
  </div>
<% end %>
