<% return unless current_page.data.icons %>

<svg class="icon-set" role="presentation" aria-hidden="true" hidden>
  <defs>
    <% current_page.data.icons.each do |icon_name| %>
      <% if icons.include? icon_name %>
        <%= inline_svg_as_symbol "icon/#{ icon_name }.svg", "icon-#{ icon_name }" %>
      <% end %>
    <% end %>
  </defs>
</svg>
