---
title: Cleanups
page_classes: cleanups
---

<main class="body" role="main">
  <div class="container">
    <h1>
      <%= t('.cleanups_heading') %>
    </h1>

    <div class="cleanups__copy">
      <p class="cleanups__intro">
        <%= t('.cleanups_intro') %>
      </p>

      <div class="cleanups__description">
        <%= t('.cleanups_copy__html').html_safe %>
      </div>
    </div>

    <ol class="cleanups">
      <% cleanups_sorted_by_date = data.contentful.cleanups.sort_by {
        |id, cleanup| cleanup[:date]
      }.reverse %>

      <% cleanups_sorted_by_date.each do |id, cleanup| %>
        <li class="cleanups__item cleanup" data-date="<%= cleanup[:date] %>">
          <div class="cleanup__header">
            <h2 class="cleanup__header__name">
              <%= cleanup["placename_#{ t('.site_lang') }"] %>
            </h2>

            <h3 class="cleanup__header__date">
              <%= cleanup[:date].strftime("%m/%d/%Y") %>
            </h3>
          </div>

          <div class="cleanup__stats">
            <div class="cleanup__stats__stat">
              <h4>
                <%= cleanup[:volunteers] %> volunteers
              </h4>

              <div>
                <% cleanup[:volunteers].times do %>👤<% end %>
              </div>
            </div>

            <div class="cleanup__stats__stat">
              <h4>
                <%= cleanup[:waste_collected] %>kg collected
              </h4>

              <div>
                <% (cleanup[:waste_collected] / 10).round.times do %>🗑<% end %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
</main>
