---
title: Friends
page_classes: friends
icons:
  - daum
  - instagram
  - marker
  - naver
  - search
---

<% content_for :scripts do %>
  <%= javascript_include_tag "site" %>
<% end %>

<main class="body" role="main">
  <div class="container">
    <section class="friends-intro">
      <div class="friends-intro__media">
        <div class="mover">
          <%= image_tag "mover/friends.jpg", alt: "", class: "mover__image" %>

          <%= inline_svg "mover/friends.svg", alt: "", class: "mover__paths", role: "presentation" %>
        </div>
      </div>

      <div class="friends-intro__content">
        <h1>
          <%= t('.friends_heading') %>
        </h1>

        <div class="copy">
          <p>
            <%= t('.friends_copy__html').html_safe %>
          </p>
        </div>
      </div>
    </section>

    <nav class="friends-tools">
      <div class="friends-tools__item">
        <button type="button" class="button" data-map-toggle>
          <%= inline_svg_sprite "icon-marker" %>

          <span class="text">
            <%= t('.friends_button') %>
          </span>
        </button>
      </div>

      <div class="friends-tools__item">
        <label class="filter" id="friends-filter">
          <span class="filter__label">
            <%= t('.friends_filter_label') %>
          </span>

          <input type="text" class="filter__input" placeholder="<%= t('.friends_filter_placeholder') %>" />

          <span class="filter__output"></span>
        </label>
      </div>
    </nav>
  </div>

  <ul class="feature-tiles" data-tile-list data-tile-list-filter="#friends-filter">
    <% cafes_sorted_by_name = data.contentful.cafes.sort_by {
      |id, cafe|
      cafe[:properties]["name_#{ t('.site_lang') }"]
    } %>

    <% cafes_sorted_by_name.each.with_index do |(id, cafe), index| %>
      <%= partial "/partials/feature_tile", locals: { feature: cafe, index: index } %>
    <% end %>
  </ul>

  <div
    data-map
    data-map-marker="<%= image_path 'map/marker.png' %>"
    data-map-source="<%= url_for '/data/cafes.geojson' %>"
    data-map-source-name="cafes"
  ></div>
</main>
