---
title: Foo
page_classes: home
---

<main class="body" role="main">
  <div class="container">
    <section class="intro">
      <div class="intro__brand">
        <h1 class="intro__brand__name">
          <%= t('.site_name') %>
        </h1>

        <%= image_tag "logo.svg", alt: t('.site_name'), class: "intro__brand__logo" %>
      </div>

      <h6 class="intro__tagline">
        <%= t('.home_intro_tagline') %>
      </h6>

      <div class="intro__grid">
        <div class="intro__grid__item intro__media">
          <% data.pages.home.intro.media.each do |item| %>
            <%= image_tag item.src,
              width: item.width,
              height: item.height,
              alt: "",
              class: "intro__media__item" %>
          <% end %>
        </div>

        <div class="intro__grid__item intro__copy">
          <h2 class="intro__copy__heading">
            <%= t('.home_intro_heading') %>
          </h2>
        </div>
      </div>
    </section>

    <section class="about">
      <div class="about__description">
        <p>
          <%= t('.home_about__html').html_safe %>
        </p>
      </div>
    </section>
  </div>

  <section class="work-section work-section--awareness">
    <div class="container">
      <div class="work-section__intro">
        <h3 class="work-section__intro__title">
          <strong>
            <%= t('.home_awareness_title') %>
          </strong>

          <%= t('.home_awareness_copy') %>
        </h3>

        <%= link_to t('.home_awareness_button'),
          data.site.instagram.url,
          class: "button",
          rel: "noopener",
          target: "_blank" %>
      </div>

      <div class="work-section__content">
        <ul class="floaty-thumbs">
          <% data.pages.home.work.awareness.instagram_images.each do |src| %>
            <li class="floaty-thumbs__item">
              <a class="floaty-thumbs__item__link" href="<%= data.site.instagram.url %>" rel="noopener" target="_blank">
                <%= image_tag src, alt: t('.home_awareness_postalt') %>
              </a>
            </li>
          <% end %>
        </ul>

        <a href="https://www.instagram.com/savejejubada" target="_blank" rel="noopener" class="work-section__content__sidelink link">
          <span class="text">
            <%= t('.home_awareness_sidelink') %>
          </span>
        </a>
      </div>
    </div>
  </section>

  <section class="work-section work-section--alliance">
    <% map_url = static_map_url(
      zoom: 11,
      pins: feature_coordinates_array(data.contentful.cafes.first(30))
    ) %>

    <div class="work-section__map" style="background-image: url('<%= map_url %>');">
      <%= image_tag map_url, alt: t('.home_alliance_mapalt') %>
    </div>

    <div class="container">
      <div class="work-section__intro">
        <h3 class="work-section__intro__title">
          <strong>
            <%= t('.home_alliance_title') %>
          </strong>

          <%= t('.home_alliance_copy') %>
        </h3>

        <%= link_to t('.home_alliance_button'), "/friends.html", class: "button" %>
      </div>
    </div>
  </section>

  <section class="work-section work-section--action">
    <div class="container">
      <div class="work-section__intro">
        <h3 class="work-section__intro__title">
          <strong>
            <%= t('.home_action_title') %>
          </strong>

          <%= t('.home_action_copy') %>
        </h3>

        <%= link_to t('.home_action_button'), "/cleanups.html", class: "button" %>
      </div>
    </div>
  </section>

  <section class="donate">
    <div class="container">
      <div class="donate__copy">
        <h3 class="donate__copy__title">
          <strong>
            <%= t('.home_donate_title') %>
          </strong>

          <%= t('.home_donate_copy') %>
        </h3>
      </div>

      <div class="donate__action">
        <%= link_to t('.home_donate_email'), "mailto:#{t('.contact_email')}", class: "button" %>
      </div>
    </div>
  </section>
</main>
