.about {
  @include viewport-m-up   { margin-bottom: $xl-space; }
  @include viewport-s-down { margin-bottom: $l-space; }

  &__description {
    @include text-style(h2);
    @include util-cap-margins;

    @include viewport-l-up {
      margin-left: 100% * 1 / 3;
      width: 50%;
    }

    @include viewport-m {
      margin-left: 100% * 1 / 6;
      width: 100% * 2 / 3;
    }
  }

  em {
    font-style: normal;
    font-weight: $bold-font-weight;
    text-transform: uppercase;
  }
}
