.app {
  display: flex;
  flex-direction: column;

  @include mobile {
    overflow-x: hidden;
    width: 100vw;
  }

  &__header {
    flex: 0 0 auto;
  }

  &__body {
    flex: 0 0 auto;
    height: calc(100vh - #{ $header-height });
    overflow: hidden;
  }
}
