.button {
  @include text-style(button);
  background-color: $base-complementary-color;
  border-width: 0;
  color: $base-background-color;
  display: inline-block;
  margin: 0;
  padding: ($s-space + $m-space) / 2;
  text-decoration: none;
  text-transform: uppercase;
  transition: padding $base-transition-duration $ease-in-out-quart;

  @include viewport-s-down {
    padding: $s-space;
  }

  @include viewport-l-up {
    padding: $m-space;
  }

  &:focus,
  &:hover {
    background-color: darken($base-complementary-color, 6%);
  }

  &:active {
    background-color: darken($base-complementary-color, 12%);
  }

  &--inverted {
    background-color: $base-background-color;
    color: $base-text-color;

    &:focus,
    &:hover {
      background-color: darken($base-background-color, 3%);
    }

    &:active {
      background-color: darken($base-background-color, 6%);
    }
  }
}
