.cleanups {
  list-style: none;
  margin-bottom: $xl-space;
  margin-top: $xl-space;
  padding-left: 0;

  &__copy {
    @include viewport-l-up {
      align-items: start;
      display: flex;
    }
  }

  &__intro {
    @include text-style(h3);
    margin-top: 0;

    @include viewport-l-up {
      flex: 0 0 auto;
      width: 20rem;
    }
  }

  &__description {
    @include text-style(body-large);
    @include util-cap-margins;

    @include viewport-l-up {
      flex: 1 1 auto;
      max-width: 30em;
      padding-left: $m-space;
      padding-top: 0.55em;
    }
  }

  &__item {
    & + & {
      @include viewport-s-down {
        margin-top: $l-space;
      }

      @include viewport-m-up {
        margin-top: $xl-space;
      }
    }
  }
}

.cleanup {
  align-items: flex-start;
  display: flex;

  @include viewport-s-down {
    flex-direction: column;
  }

  &__header {
    flex: 0 0 auto;

    @include viewport-m-up {
      width: 50%;
    }

    &__name {
      @include text-style(h2-heavy);
      margin: 0;
    }

    &__date {
      color: $muted-text-color;
      @include text-style(body-small);
      margin: 0;
    }
  }

  &__stats {
    align-items: flex-start;
    display: flex;

    @include viewport-s-down {
      flex-direction: column;
      margin-top: $s-space;
      width: 100%;
    }

    @include viewport-m-up {
      flex: 1 1 auto;
      width: 50%;
    }

    &__stat {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column-reverse;
      padding-right: $m-space;
      position: relative;
      width: 50%;

      h4 {
        @include text-style(body-tiny);
        margin: 0;
        position: sticky;
        top: 0;
      }

      @include viewport-s-down {
        width: 100%;

        & + & {
          margin-top: $s-space;
        }
      }
    }
  }
}
