.donate {
  @include viewport-s-down {
    margin-bottom: $l-space;
  }

  @include viewport-m-up {
    margin-bottom: $xxl-space;
  }

  .container {
    display: flex;

    @include viewport-s-down {
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
    }

    @include viewport-m-up {
      flex-direction: row-reverse;
    }
  }

  &__action,
  &__copy {
    @include viewport-m-down {
      margin-bottom: $xl-space;
      width: 100%;
    }

    @include viewport-l-up {
      width: 100% * 6 / 12;
    }
  }

  &__copy {
    background-color: $alt-background-color;
    font-size: $l-font-size;
    margin-bottom: $l-space;
    margin-top: $l-space;
    padding: $l-space;

    @include viewport-s-down {
      margin-bottom: -$l-space;
      padding: $l-space $l-space $xl-space;
    }

    @include viewport-xs-down {
      padding: $m-space $m-space $xl-space;
    }

    & > * + * {
      margin-top: $m-space;
    }

    &__title {
      @include text-style(h3);
      margin: 0;

      strong {
        font-weight: $bold-font-weight;
        text-transform: uppercase;
      }
    }
  }

  &__action {
    align-items: center;
    background-image: url("/assets/images/donate.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    max-height: 80vh;

    @include viewport-s-down {
      align-self: end;
      margin-right: $m-space;
      max-width: 15rem;
      padding: $xl-space $l-space;
    }

    @include viewport-m {
      height: 50vh;
    }
  }
}
