.feature-tiles {
  list-style: none;
  margin: 0 $m-space $xl-space;
  padding-left: 0;

  @include viewport-s-down {
    margin-left: 0;
    margin-right: 0;
  }

  &__item {
    position: relative;
    width: 100%;

    &::before {
      background-color: transparent;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: background-color $base-transition-duration $ease-out-quart;
      z-index: -1;
    }

    @include viewport-m-up {
      &:nth-child(2n) { margin-top: $l-space; }
      &:nth-child(3n) { margin-top: $xl-space; }
      &:nth-child(4n) { margin-top: $s-space; }
      &:nth-child(5n) { margin-bottom: $m-space; }
      &:nth-child(9n) { margin-top: $l-space; }
    }

    @include viewport-m { width: 100% * 1 / 3; }
    @include viewport-l { width: 100% * 1 / 4; }
    @include viewport-xl { width: 100% * 1 / 5; }
    @include viewport-xxl { width: 100% * 1 / 6; }

    &--featured {
      @include viewport-m { width: 100% * 2 / 3; }
      @include viewport-l { width: 100% * 2 / 4; }
      @include viewport-xl { width: 100% * 2 / 5; }
      @include viewport-xxl { width: 100% * 2 / 6; }
    }

    @include viewport-s-down {
      padding-left: 0;
    }
  }
}

.feature-tile {
  display: flex;
  flex-direction: column;
  padding: $m-space;

  .map__drawer & {
    overflow-x: hidden;
    overflow-y: auto;
  }

  @include viewport-s-down {
    flex-direction: row;
  }

  &:hover {
    &::before {
      background-color: $alt-background-color;
    }
  }

  // 1 - Cut blur off from the low-res image that is initially loaded
  // 2 - padding-bottom ÷ width = aspect ratio.
  &__media {
    display: block;
    height: 0;
    overflow: hidden; // 1
    padding-bottom: 100%; // 2
    position: relative;
    width: 100%;

    @include viewport-s-down {
      padding-bottom: 100% * 1 / 3;
      width: 100% * 1 / 3;
    }

    .map__drawer & {
      @media screen and (min-width: 40.0625rem) and (max-height: 32rem) {
        padding-bottom: 50vh;
        width: 50vh;
      }
    }

    // 1 - Lazysizes configuration. What an abomination and completely terrible
    //     way to configure a UI component. UGH.
    img {
      display: block;
      font-family: "blur-up: always", "object-fit: cover"; // 1
      height: 100%;
      left: 0;
      max-width: none;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;

      &.lazyloaded {
        & + .ls-blur-up-img {
          opacity: 0;
        }
      }

      &.ls-blur-up-img {
        filter: blur($xxs-space);
        transform: scale(1.1);
        transition: filter $xlong-transition-duration, opacity $xlong-transition-duration;
      }
    }
  }

  &__info {
    padding-top: $s-space;

    .map__drawer & {
      padding-bottom: $m-space;
    }

    @include viewport-s-down {
      padding-left: $m-space;
      padding-top: 0;
      width: 100% * 2 / 3;
    }
  }

  &__name {
    @include text-style(h5);
    margin: 0;
  }

  &__address {
    @include text-style(body-small);
    margin: 0;
  }

  &__links {
    @include text-style(body-tiny);
    margin-top: $xs-space;

    a {
      align-items: center;
      color: currentColor;
      display: flex;
      margin-left: -$s-space;
      margin-right: -$s-space;
      padding: $xs-space $s-space;
      text-decoration: none;
      width: fit-content;

      .icon {
        margin-right: $xs-space;
      }

      &:focus,
      &:hover {
        color: $strong-text-color;

        .text {
          text-decoration: underline;
        }
      }
    }
  }
}
