.filter {
  display: flex;
  flex-direction: column;
  width: 14rem;

  &:focus,
  &:hover {
    .filter__input {
      border-color: $strong-text-color;
    }

    .filter__label {
      color: $strong-text-color;
    }
  }

  &__label {
    @include text-style(body-tiny);
    margin-bottom: $xs-space;
  }

  &__input {
    background-color: $alt-background-color;
    border: 1px solid $base-border-color;
    border-width: 0 0 1px;
    @include text-style(body);
    font-family: inherit;
    padding: $s-space;
  }

  &__output {
    font-style: italic;
    margin-top: $s-space;
    transition: margin-top $base-transition-duration $ease-in-out-quart, max-height $base-transition-duration $ease-in-out-quart, opacity $base-transition-duration $ease-in-out-quart;

    &:empty {
      margin-top: 0;
      max-height: 0;
      opacity: 0;
    }
  }
}
