.floaty-thumbs {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;

  @include viewport-m-up   {
    margin-left: -$m-space;
    margin-right: -$m-space;
  }

  @include viewport-s-down {
    margin-left: -$l-space;
    margin-right: -$l-space;
  }

  &__item {
    width: 100% * 1 / 3;
    z-index: 1;

    &__link {
      box-shadow: rgba($base-text-color, 0.25) 0 0 4rem;
      display: block;
      transition: box-shadow $long-transition-duration $ease-out-quart, transform $long-transition-duration $ease-out-quart;

      &:focus,
      &:hover {
        box-shadow: rgba($base-text-color, 0.25) 0 0 2rem, rgba($base-text-color, 0.25) 0 0 0.5rem;
        transform: scale(1.025);
      }

      &:active {
        transform: scale(1.0125);
      }
    }

    img {
      display: block;
    }

    &:nth-child(1) {
      .floaty-thumbs__item__link {
        @include viewport-l-up   { margin-right: -$l-space; }
        @include viewport-m      { margin-right: -$m-space; }
        @include viewport-s-down { margin-right: -$s-space; }
      }
    }

    &:nth-child(2) {
      z-index: 2;

      @include viewport-l-up   { margin-top: $xl-space; }
      @include viewport-m      { margin-top: $l-space; }
      @include viewport-s-down { margin-top: $m-space; }

      .floaty-thumbs__item__link {
        @include viewport-l-up   { margin-left: -$m-space; margin-right: -$m-space; }
        @include viewport-m      { margin-left: -$s-space; margin-right: -$s-space; }
        @include viewport-s-down { margin-left: -$xs-space; margin-right: -$xs-space; }
      }
    }

    &:nth-child(3) {
      @include viewport-l-up   { margin-top: -$xxl-space; }
      @include viewport-m      { margin-top: -$xl-space; }
      @include viewport-s-down { margin-top: -$l-space; }

      .floaty-thumbs__item__link {
        @include viewport-l-up   { margin-left: -$l-space; }
        @include viewport-m      { margin-left: -$m-space; }
        @include viewport-s-down { margin-left: -$s-space; }
      }
    }
  }
}
