.footer {
  margin-bottom: $xl-space;
  margin-top: $l-space;

  &__container {
    display: flex;
    justify-content: space-between;

    @include viewport-m-down {
      flex-direction: column-reverse;
    }
  }

  &__brand,
  &__links {
    @include text-style(h5);
    margin-bottom: 0;
    margin-top: 0;
  }

  &__links {
    list-style: none;
    padding-left: 0;

    @include viewport-m-down {
      display: flex;
      flex-direction: column;
      margin-bottom: $l-space;
    }

    &__item {
      @include viewport-l-up {
        display: inline-block;

        & + & {
          margin-left: $s-space;
        }
      }

      @include viewport-m-down {

        & + & {
          margin-top: $xs-space;
        }
      }
    }
  }
}
