.friends-intro {
  border-bottom: 1px solid $base-border-color;
  display: flex;
  margin-bottom: $l-space;
  padding-bottom: $xl-space;
  padding-top: $xl-space;

  @include viewport-s-down {
    flex-direction: column;
  }

  &__media {
    @include viewport-m-up {
      width: 100% * 1 / 3;
    }

    & > * {
      box-shadow: $color-gray-xlight $m-space $m-space 0;

      @include viewport-s-down {
        max-width: 20rem;
      }
    }
  }

  &__content {
    @include viewport-s-down {
      padding-left: $m-space;
      padding-top: $l-space;
    }

    @include viewport-m-up {
      padding-left: $xl-space;
      width: 100% * 2 / 3;
    }

    h1 {
      @include text-style(h2-heavy);
    }

    .copy {
      @include text-style(h2);
    }
  }
}
