.friends {
  .body {
    height: calc(100vh - 7.5rem);
    margin-top: -$xxl-font-size;
    position: relative;
  }

  .about {
    margin-top: $xxl-space;
  }

  .footer {
    display: none;
  }

  .map {
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 10;
  }
}
