.friends-tools {
  display: flex;
  justify-content: space-between;
  padding-bottom: $l-space;
  padding-top: $m-space;

  @include viewport-xs-down {
    align-items: center;
    flex-direction: column;

    &__item {
      & + & {
        margin-top: $l-space;
      }
    }

    // 1 - Match width of filter control
    .button {
      width: 14rem; // 1
    }
  }

  @include viewport-s-up {
    align-items: flex-end;

    &__item {
      &:last-child {
        text-align: right;
      }
    }
  }
}
