.header {
  margin-bottom: $xl-space;
  margin-top: $l-space;

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include viewport-s-down {
      flex-direction: column;
      text-align: center;
    }
  }

  &__item {
    @include text-style(h5);
    color: currentColor;
    text-decoration: none;

    @include viewport-s-down {
      padding: $s-space 0;

      &.link {
        &::after {
          bottom: 0.5em;
        }
      }
    }

    &--home {
      .logo {
        @keyframes spin {
          100% { transform: rotate(360deg); }
        }

        animation: spin 30s linear infinite;
        max-width: none;
        width: 5rem;

        @include viewport-s-down {
          display: block;
          margin-bottom: $s-space;
        }

        @include viewport-m-up {
          margin-bottom: -2.5rem;
          margin-right: $xs-space;
          margin-top: -2.5rem;
        }
      }
    }

    &--locale {
      opacity: 0.333;

      &:focus,
      &:hover {
        opacity: 1;
      }
    }
  }
}
