.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  width: 1em;

  &--large {
    margin-right: 0.5em;
    position: relative;
    top: 0.25em;
    transform: scale(2);
    transform-origin: center center;
  }
}
