.intro {
  position: relative;

  @include viewport-l-up   { margin-bottom: $xxl-space; }
  @include viewport-m-down { margin-bottom: $xl-space; }

  &__brand {
    position: absolute;
    z-index: 2;

    @include viewport-l-up {
      left: -$xl-space;
      top: 100%;
      transform: translateY(-$xxl-space);
    }

    @include viewport-m-down {
      left: $m-space;
      top: -$l-space;
    }

    &__name {
      @include util-sr-only;
    }

    &__logo {
      display: block;
      height: auto;
      min-width: 8rem;
      width: 25vw;
    }
  }

  &__tagline {
    @include text-style(h6);
    background-color: rgba($base-background-color, 0.8);
    height: $l-space;
    left: -(20rem / 2) - $m-space;
    line-height: $l-space;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 100% * 1 / 3;
    transform: rotate(-90deg);
    width: 20rem;
    z-index: 1;
  }

  &__grid {
    display: flex;

    &__item {
      &.intro__media {
        flex: 1 1 auto;
      }

      &.intro__copy {
        flex: 0 0 auto;
        z-index: 1;
      }
    }

    @include viewport-l-up {
      align-items: center;

      &__item {
        &.intro__copy {
          transform: translateX(-$xxl-space);
          width: 20rem;

          .intro__copy__heading {
            width: calc(100% + #{ $xxl-space });
          }
        }
      }
    }

    @include viewport-m-down {
      align-items: flex-end;
      flex-direction: column;

      &__item {
        &.intro__copy {
          margin-left: -$l-space;
          margin-top: -$xxl-space;
          width: 50vw;

          .intro__copy__heading {
            width: calc(100% + #{ $l-space });
          }
        }
      }
    }

    @include viewport-xs-down {
      &__item {
        &.intro__copy {
          margin-left: $m-space;
          margin-top: -$l-space;
          width: auto;
        }
      }
    }

  }

  &__media {
    box-shadow: $color-gray-xlight $m-space $m-space 0;
    position: relative;

    @include viewport-s-down {
      margin-left: -$l-space;
      margin-right: -$l-space;
    }

    &__item {
      display: block;
      height: auto;
      width: 100%;

      & + & {
        display: none;
        left: 0;
        position: absolute;
        top: 0;

        .intro__media:hover & {
          display: block;
        }
      }
    }
  }

  &__copy {
    background-color: rgba($base-complementary-color, 0.9);
    padding: $m-space;

    &__heading {
      @include text-style(h1);
      margin: 0;
    }
  }
}
