.link {
  color: currentColor;
  display: inline-block;
  position: relative;
  text-decoration: none;

  &::after {
    background-color: currentColor;
    bottom: -0.25em;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    right: 100%;
    transition: right $long-transition-duration ease-out;
  }

  &:focus,
  &:hover,
  &--active {
    &::after {
      right: 0;
    }
  }

  &:active {
    color: $base-accent-color;
  }

  &--active {
    color: $strong-text-color;
  }
}
