.locale-switcher {
  display: flex;
  font-size: 0.75rem;

  // 1 - Center label elements vertically
  &__locale {
    align-items: center; // 1
    cursor: pointer;
    display: flex; // 1
    height: $header-height;
    opacity: 0.333;
    padding: 1em;

    &:focus,
    &:hover {
      background-color: rgba($base-background-color, 0.2);
      opacity: 0.666;
    }

    &--active {
      &,
      &:focus,
      &:hover {
        opacity: 1;
      }

      @include mobile {
        display: none;
      }
    }

    input {
      left: -100vw;
      position: absolute;
    }
  }
}
