html.map-visible {
  &,
  & > body {
    overflow: hidden;
    position: fixed;
    width: 100vw;
  }
}

.map {
  background-color: $color-shore;
  display: none;
  height: calc(100vh - 7.5rem);
  overflow: hidden;
  width: 100%;

  @include viewport-s-down {
    flex-direction: column;
  }

  &--visible {
    display: flex;
  }

  &__box {
    flex: 1 1 auto;
  }

  &__close {
    position: absolute;

    @include viewport-s-down {
      left: $m-space;
      top: $m-space;
    }

    @include viewport-m-up {
      left: $l-space;
      top: $l-space;
    }
  }

  &__drawer {
    background-color: $base-background-color;
    display: flex;
    flex: 0 0 auto;

    @include viewport-m-up {
      width: 20rem;
    }

    .feature-tile {
      width: 100%;
    }
  }
}
