@keyframes blip {
  0% { opacity: 1; }
  33% { opacity: 1; }
  34% { opacity: 0; }
  100% { opacity: 0; }
}

.mover {
  position: relative;

  &__image {
    display: block;
    position: relative;
  }

  &__paths {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;

    .step {
      animation: blip ($long-transition-duration * 3) linear infinite;

      &--2 { animation-delay: $long-transition-duration; }
      &--3 { animation-delay: $long-transition-duration * 2; }
    }
  }
}
