.partners-intro {
  background-image: linear-gradient(
    -135deg,
    $base-complementary-color,
    adjust-hue($base-complementary-color, -60deg)
  );
  color: $base-background-color;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  @include mobile {
    padding: 2rem 1rem;
    text-align: center;
  }

  &__media,
  &__content {
    margin-right: auto;
    max-width: 20rem;
  }

  &__media {
    margin-left: auto;

    &__image {
      height: auto;
      width: 100%;
    }
  }

  &__content {
    padding: 1rem;

    @include mobile {
      margin-left: auto;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }

    &__title {
      font-size: 1rem;
      margin: 0 0 0.5rem;
      text-transform: uppercase;
    }

    &__copy {
      font-size: 0.75rem;
      line-height: 1.25rem;

      p {
        margin: 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        & + p {
          margin-top: 0.5rem;
        }
      }
    }
  }
}
