.partner-map-popup {
  @include mobile {
    max-width: calc(100vw - 4rem);
  }

  @include desktop {
    min-width: 16rem;
  }

  .mapboxgl-popup-content {
    @include desktop {
      padding: 1rem;
      width: 18rem;
    }

    @include mobile {
      padding: 0;
      text-align: center;
      width: 15rem;
    }
  }

  .mapboxgl-popup-close-button {
    background-color: $strong-text-color;
    border-radius: 50%;
    box-sizing: content-box;
    color: $base-background-color;
    font-size: 1.25rem;
    height: 1.5rem;
    line-height: 1;
    padding: 0.5rem;
    right: -1.25rem;
    text-align: center;
    top: -1.25rem;
    transition: background-color $base-transition-duration, color $base-transition-duration;
    width: 1.5rem;

    &:focus,
    &:hover {
      background-color: $base-complementary-color;
    }
  }

  a {
    color: $base-accent-color;
  }

  &__image {
    display: block;
    height: auto;
    width: 100%;

    @include desktop {
      margin-bottom: 0.5rem;
    }
  }

  &__info {
    background-color: $base-background-color;

    @include mobile {
      margin-top: -6rem;
      padding: 1rem;
      position: relative;
    }
  }

  &__name {
    color: $strong-text-color;
    font-size: 1rem;
    font-weight: 800;
    margin: 0;
  }

  &__location {
    color: $base-text-color;
    padding-bottom: 0.5rem;

    &__address {
      font-weight: 400;
      line-height: 1.2;
      margin: 0 0 0.25rem;
    }

    &__map-services {
      color: $muted-text-color;
      font-size: 0.625rem;
      margin: 0.125rem 0 0;
      text-transform: uppercase;

      a {
        color: currentColor;
        display: inline-block;
        margin-left: 0.5em;

        & + a {
          border-left: 1px solid $base-border-color;
          padding-left: 0.5em;
        }
      }
    }
  }

  &__social-links {
    margin: 0.5rem 0 0;

    &__link {
      display: inline-block;
      font-size: 1.125rem;
      text-decoration: none;

      & + & {
        margin-left: 1rem;
      }

      .text {
        display: none;
      }
    }
  }
}
