.partner-list-item {
  &:first-child {
    .partner-list-item__button {
      padding-top: 0.25rem;
    }
  }

  &:last-child {
    .partner-list-item__button {
      padding-bottom: 0.25rem;
    }
  }

  &__button {
    align-items: center;
    background-color: transparent;
    border: 0 solid transparent;
    border-right-width: 0.1875rem;
    color: $base-text-color;
    cursor: pointer;
    display: flex;
    font-family: $base-font-family;
    font-size: 1rem;
    padding: 0;
    transition: background-color $short-transition-duration, border-color $short-transition-duration, color $short-transition-duration;
    width: 100%;

    &:focus,
    &:hover {
      background-color: $alt-background-color;
      border-right-color: $base-border-color;
      color: $strong-text-color;

      .partner-list-item__button__distance {
        color: $muted-text-color;
      }
    }

    &:focus {
      outline: none;
    }

    .partner-list-item--selected & {
      background-color: $alt-background-color;
      border-right-color: $base-complementary-color;
      color: $strong-text-color;
    }

    &__thumb {
      flex: 0 0;
      height: 3.5rem;
      width: 4rem;

      img {
        border-radius: 0.1875rem;
        display: block;
        height: 3rem;
        margin: 0.25rem 0.5rem;
        width: 3rem;
      }
    }

    &__info {
      flex: 1 1;
      margin-right: 0.5rem;
      overflow: hidden;
      text-align: left;

      & > span {
        display: block;
      }

      .address {
        color: $very-muted-text-color;
        font-size: 0.75em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }

    &__distance {
      color: $very-muted-text-color;
      flex: 0 0 auto;
      font-size: 0.75rem;
      margin-right: 0.5rem;
      text-align: right;
      transition: background-color $base-transition-duration, color $base-transition-duration;
      width: 3.125rem;
    }
  }
}
