.partners-mobile-context {
  // 1 - Ensure that this element is displayed on top of the map/list
  @include mobile {
    background-image: linear-gradient(
      to top,
      rgba($color-black, 0.4),
      rgba($color-black, 0.2) 25%,
      rgba($color-black, 0)
    );
    bottom: 0;
    left: 0;
    padding: 2rem 1rem;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 2; // 1

    .pill-box {
      box-shadow: rgba($color-black, 0.1) 0 0 1rem,
                  rgba($color-black, 0.1) 0 0 0.5rem;
    }
  }

  @include desktop {
    display: none;
  }
}
