.partner-map {
  height: 100%;
  width: 100%;

  // Overwrite some of Mapbox's default styles
  &.mapboxgl-map {
    font-family: $base-font-family;
    font-size: 0.875rem;
    line-height: 1.5;
  }

  // Hide this element from view, since we're only using it to
  // pull DOM elements into the dynamically-generated Mapbox popups
  & > .partner-map-popup-content {
    left: -200vw;
    position: absolute;
  }
}
