.partners {
  height: 100vh;

  &__content {
    bottom: 0;
    display: flex;
    left: 0;
    position: fixed;
    top: $header-height;
    width: 100vw;

    @include mobile {
      transition: transform $long-transition-duration $ease-out-quart;
      width: 200vw;

      .partners--mobile-context-map & {
        transform: translateX(-100vw);
      }
    }

    // 1 - Enable momentum scrolling in iOS
    // 2 - has to be scroll, not auto
    &__panel {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;  // 1,2
      -webkit-overflow-scrolling: touch; // 1

      @include mobile {
        flex: 0 0 auto;
        width: 100vw;
      }

      @include desktop {
        flex: 0 0 auto;
        width: 20rem;
      }

      .logo {
        height: 6rem;
        margin: 2rem auto 4rem;
        width: 6rem;
      }
    }

    &__map {
      background-color: #c2d9db;
      position: relative;

      @include mobile {
        flex: 0 0 auto;
        height: 100%;
        width: 100vw;
      }

      @include desktop {
        flex: 1 1 auto;
      }

      &__userloc {
        position: absolute;
        right: 1rem;
        top: 1rem;
      }
    }
  }
}
