.pill-box {
  background-color: $base-background-color;
  border: 1px solid $base-border-color;
  border-radius: 1.5rem;
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  overflow: hidden;
  text-transform: uppercase;

  &__pill {
    background-color: $alt-background-color;
    color: $muted-text-color;
    cursor: pointer;
    display: block;
    float: left;
    padding: 1rem 2rem;

    & + & {
      border-left: 1px solid $base-border-color;
    }

    &:focus,
    &:hover {
      background-color: darken($alt-background-color, 5%);
    }

    &--active {
      &,
      &:focus,
      &:hover {
        background-color: $base-background-color;
        color: $strong-text-color;
        cursor: default;
      }
    }

    input {
      position: absolute;
      left: -9999px;
    }
  }
}
