.user-location-control {
  align-items: center;
  background-color: $base-background-color;
  border-style: none;
  box-shadow: rgba($base-text-color, 0.5) 0 0.125rem 0.5rem;
  color: $muted-text-color;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  height: 2.5rem;
  line-height: 1;
  padding: 0.5rem 0.75rem;
  transition: background-color $base-transition-duration, color $base-transition-duration;

  &:hover {
    background-color: $alt-background-color;
    color: $muted-text-color;
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
  }

  &--pending {
    @keyframes pulse {
      0% {
        background-color: $alt-background-color;
        color: $base-text-color;
      }

      50% {
        background-color: $base-background-color;
        color: $muted-text-color;
      }

      100% {
        background-color: $alt-background-color;
        color: $base-text-color;
      }
    }

    animation: pulse $xlong-transition-duration infinite;
    pointer-events: none;
  }

  &--active {
    background-color: $base-background-color;
    color: $base-accent-color;

    &:hover {
      color: $strong-accent-color;
    }
  }

  .text {
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }
}
