.work-section {
  padding-bottom: $xl-space;
  padding-top: $xl-space;

  &__intro {
    font-size: $l-font-size;
    margin-bottom: $l-space;

    @include viewport-l-up {
      margin-left: 100% * 1 / 12;
      width: 100% * 6 / 12;
    }

    @include viewport-m {
      margin-left: 100% * 2 / 12;
      width: 100% * 4 / 6;
    }

    & > * + * {
      margin-top: $m-space;
    }

    &__title {
      @include text-style(h3);
      margin: 0;

      strong {
        font-weight: $bold-font-weight;
        text-transform: uppercase;
      }
    }
  }

  &--awareness {
    background-color: $color-ivory;

    .work-section__content {
      position: relative;

      // 1 - Show link to the right of second floaty thumb
      &__sidelink {
        @include text-style(h6);
        color: currentColor;
        display: block;
        position: absolute;
        text-align: center;
        text-decoration: none;
        width: 6rem; // Arbitrary measurement

        @include viewport-l-up {
          bottom: $xl-space;
          left: calc((100% * 2 / 3) + #{ $s-space }); // 1
          transform: rotate(90deg);
        }

        @include viewport-m-down {
          bottom: -($m-space + $s-space);
          left: 50%;
          margin-left: -3rem;
        }
      }
    }
  }

  &--alliance {
    overflow: hidden;
    position: relative;

    .container {
      position: relative;
    }

    .work-section__intro {
      background-color: $base-background-color;
      margin-bottom: 0;
      padding: $l-space;
    }

    .work-section__map {
      background-color: #dee;
      background-position: center center;
      background-size: cover;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      & > img { display: none; }
    }
  }

  &--action {
    .work-section__intro {
      margin-top: $l-space;

      @include viewport-m-up {
        align-items: center;
        display: flex;
        margin-left: 100% * 1 / 12;
        margin-right: 100% * 1 / 12;
        width: 100% * 10 / 12;
      }
    }

    .button {
      @include viewport-m-up {
        margin-left: $m-space;
        margin-top: 0;
        white-space: nowrap;
      }
    }
  }
}
