{
    "name": "SaveJejuBada",
    "short_name": "SaveJejuBada",
    "icons": [
        {
            "src": "https://savejejubada-v2.netlify.com<%= url_for '/assets/meta/android-chrome-192x192.png' %>",
            "sizes": "192x192",
            "type": "image/png"
        },
        {
            "src": "https://savejejubada-v2.netlify.com<%= url_for '/assets/meta/android-chrome-512x512.png' %>",
            "sizes": "512x512",
            "type": "image/png"
        }
    ],
    "theme_color": "#f99500",
    "background_color": "#f99500",
    "display": "standalone"
}
